// Button styles goes here
.btn:hover {
    background-color: $btn-hover;
    border: 1px solid $btn-hover;
}

.button-footer {
    width: 75%;

    @media (min-width: 768px) {
        width: auto;
    }
}

.button {
    width: 100%;

    @media (min-width: 768px) {
        width: auto;
    }
}