.illustration-2 {
    background-image: url("/assets/images/bg-curve-desktop.svg");
    background-position: center;
    background-size: cover;
}

.illustration-image {
    width: 800px;
    object-fit: contain;
}

.see-more-link {
    color: $warning;

    &:hover {
        color: $link-hover;
    }
}