// Footer styles goes here
.nav-item {
    cursor: pointer;

    .nav-link {
        &:hover {
            color: $secondary;
        }
    }
}

.footer-text {
    @media (min-width: 768px) {
        width: 75%;
    }
}

.icon {
    border: 1px solid $white;

    &:hover {
        color: $link-hover;
        border: 1px solid $link-hover;
    }
}